<div class="login-page-container d-flex flex-column align-items-center justify-content-center">
    <h1 class="green mb-4">Editing Group</h1>

    <%= form_with(model: @group) do |form| %>
        <% if @group.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
                <% @group.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= form.text_field :name, placeholder: 'name' %>
        </div>

        <div class="field">
            <%= form.text_field :icon, placeholder: 'icon' %>
        </div>

        <div class="actions mt-4">
            <%= form.submit "SUBMIT", class: 'w-100 bg-primary border-0 text-white rounded px-5 py-2' %>
        </div>
    <% end %>

    <%= link_to 'Back', groups_path %>
</div>