<p id="notice"><%= notice %></p>
<div class="login-page-container d-flex flex-column align-items-center justify-content-center mt-5">
  <h2 class="lobster mb-3 green"> <%= @group.name.upcase %> </h2>

  <div class="mx-4 mb-3">
    <% @group.expenses.each do |expense| %>
      <div class="d-flex bg-white shadow my-2">    
        <%= image_tag "macdonalds.png", class: 'w-25 rounded p-2' %>
        <div class="d-flex flex-column justify-content-center w-100">
          <div class="d-flex justify-content-between p-2 border-bottom mx-5">
            <div class="d-flex flex-column">
              <span class="bold"><%= link_to expense.name, expense, class: 'text-decoration-none' %></span>
              <span class="fs-6"> <%= expense.user.name %> </span>
            </div>
            <span><%= number_to_currency(expense.amount) %></span>
          </div>
          <p class="my-0 mx-5 p-2"> <%= expense.created_at %> </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions mt-1">
    <%= link_to 'Edit', edit_group_path(@group), class: 'w-100 bg-primary border-0 text-white rounded px-5 py-2' %>
  </div>

  <div class="px-5 py-2 rounded">
    <%= link_to 'Back', groups_path, class: 'text-decoration-none ms-2' %>
  </div>
</div>
