<%= form_with(model: expense, url: expenses_path(mode)) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: 'name' %>
  </div>

  <div class="field">
    <%= form.number_field :amount, placeholder: 'amount' %>
  </div>

  <div class="field">
    <%= form.label :group_ids, 'Groups:', class: 'pt-2' %>
    <% if current_user.groups.empty? %>
      <p class="mt-2"> You don't have groups created. </p>
    <% else %>
      <%= form.collection_check_boxes :group_ids, current_user.groups, :id, :name do |b| %>
        <% content_tag(:div, b.check_box(class: 'form-check-input bg-secondary') + b.label(class: 'form-check-label'), class: 'mb-3 form-check') %>
      <% end %>
    <% end %>
  </div>

  <div class="actions mt-4">
    <%= form.submit "CREATE EXPENSE", class: 'w-100 bg-primary border-0 text-white rounded px-5 py-2' %>
  </div>
<% end %>
