<div class="main-container">
  <div class="d-flex justify-content-between p-3 bg-light shadow-sm">
    <span class="text-secondary">Total Amount</span>
    <span class="bold"><%= number_to_currency(@amount) %> </span>
  </div>


  <div class="groups-container d-flex flex-column align-items-center h-auto pt-3 px-3 text-secondary">
    <% @expenses.each do |expense| %>
      <div class="d-flex bg-white shadow my-2"> 
        <% if expense.group_expenses.empty? %>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr9ClzGFL7hSsx8BFXT-VT_xR84lJWa4b6-g&usqp=CAU", size: 100, class: 'rounded p-2' %>
          <div class="d-flex flex-column justify-content-center w-100">
            <div class="d-flex justify-content-between p-2 border-bottom mx-5">
              <span><%= link_to expense.name, expense, class: 'text-decoration-none' %></span>
              <span class="bold"><%= number_to_currency(expense.amount) %></span>
            </div>
            <p class="my-0 mx-5 p-2"> <%= expense.created_at %> </p>
          </div>
        <% end %> 
      </div>
    <% end %>    
  </div>

  <div class="new-expense text-center w-100 p-4 fixed-bottom">
    <%= link_to 'New Expense', new_expense_path, class: 'text-white text-decoration-none py-2 px-5 border' %>
  </div>
</div>
