<div class="expenses-page-container">
  <div class="d-flex justify-content-between p-3 bg-light shadow-sm">
    <span class="text-secondary">Total Amount</span>
    <span class="bold"><%= number_to_currency(current_user.expenses.sum("amount")) %> </span>
  </div>


  <div class="groups-container d-flex flex-column align-items-center h-auto pt-3 px-3 text-secondary">
    <% @expenses.each do |expense| %>
      <div class="d-flex bg-white shadow my-2">    
        <%= image_tag "macdonalds.png", class: 'w-25 rounded p-2' %>
        <div class="d-flex flex-column justify-content-center w-100">
          <div class="d-flex justify-content-between p-2 border-bottom mx-5">
            <span><%= link_to expense.name, expense, class: 'text-decoration-none' %></span>
            <span class="bold"><%= number_to_currency(expense.amount) %></span>
          </div>
          <p class="my-0 mx-5 p-2"> <%= expense.created_at %> </p>
        </div>
      </div>
    <% end %>    
  </div>

  <div class="new-expense text-center w-100 p-4 fixed-bottom">
    <%= link_to 'New Expense', new_expense_path, class: 'text-white text-decoration-none py-2 px-5 border' %>
  </div>
</div>
